/****navbar v.2 *****/
.navbar-header.col {
    padding: 0 !important;
}

.navbar {
    padding-left: 16px;
    padding-right: 16px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
}
.navbar .navbar-brand {
    color: #049a49;
    padding-left: 0;
    font-size: 20px;
}
.navbar .navbar-brand b {
    font-weight: bold;
    color: #fff;
}
.navbar ul.nav li a:hover,
.navbar ul.nav li a:focus {
    color: #fff !important;
    background-color: #157f94; /**hover and click **/
}
.navbar ul.nav li.active a,
.navbar ul.nav li.active a:hover,
.navbar ul.nav li.active a:focus {
    color: #157f94 !important;
    background: transparent !important;
}

.navbar .nav-item i {
    font-size: 18px;
}
.navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
}
.navbar .nav-item.open > a {
    background: none !important;
}
.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.navbar .dropdown-menu li a {
    color: #157f94;
    padding: 8px 20px;
    line-height: normal;
}
.navbar .navbar-form {
    margin-right: 0;
    margin-left: 0;
    border: 0;
}

.navbar-logo {
    width: 55px;
    height: 40px;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

/******************* login ******************/

#login .card-img-top {
    width: 100%;
    height: 15vh;
    padding-top: 2%;
    object-fit: contain;
}

#login .login-form {
    margin: 0 auto;
    float: none;
    margin-bottom: 2em;
    margin-top: 2em;
    max-height: 60em;
}

#login h2 {
    text-align: center;
    margin-top: 10px;
}

/******************************************/

/***************PRINT PEMBAYARAN*********************/
#print-pembayaran .card{
    padding: 20px 20px 20px 20px;
    border: 5px solid black;
}

#print-pembayaran thead{
    background-color: #fff !important;
    color: black !important;
}

#print-pembayaran th{
    background-color: #fff !important;
    color: black !important;
}

@media print {
    footer, #print-pembayaran button { visibility: hidden; }
    #printarea * { display:block; }
 }

 @page {
    size: auto;   /* auto is the initial value */
    margin: 0;  /* this affects the margin in the printer settings */
}

/******************************************/

footer {
color: black;
}

footer a {
    text-decoration: none;
    color: black !important;
}

.card{
    box-shadow: 2px 2px #c6e0f5;
}
/**********************************************************/

/*************************admin dashboard***************/

#admin-dashboard .card-img-top{
    height: 10rem;
    width: 10rem;

}

#admin-dashboard .card{
    padding: 20px 20px 20px 20px;
    margin-top: 15px;
    box-shadow: 2px 2px #c6e0f5;
}

/*************************end admin dashboard***************/
